body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.container{
    text-align: center;
}
.container h3{
    background-color: rgb(121, 121, 55);
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.color{
    font-weight: bold;
    background-color: transparent;
    color: antiquewhite;
}
.btn{
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(236, 214, 188);
}
.btn:hover{
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
    color: rgb(188, 143, 77);
    background-color: aliceblue;
    transition: all 0.3s;
}